<a href="https://colab.research.google.com/github/vimalkumarasamy/Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

header = ['chrom', 'pos', 'filter']
data = [4, 12345, 38.4]

vector = np.array(data)

In [0]:
data_dict = {'chrom': 4, 'pos': 12345, 'filter': 38.4}
s1 = pd.Series(data=data) # Notice the data type is float
s2 = pd.Series(data=data, index=header)

In [8]:
s1

0        4.0
1    12345.0
2       38.4
dtype: float64

In [9]:
s2

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [11]:
pd.Series(data_dict)

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [12]:
data = [1, '2s', 34] 
pd.Series(data)

0     1
1    2s
2    34
dtype: object

In [13]:
header

['chrom', 'pos', 'filter']

In [14]:
pd.Series(data=data, index=header)

chrom      1
pos       2s
filter    34
dtype: object

In [16]:
s2 = pd.Series(data, header)
s2

chrom      1
pos       2s
filter    34
dtype: object

In [17]:
s2['chrom']

1

In [21]:
header1 = ['chrom', 'pos', 'filter']
data1 = [4, 12345, 38.4]
header2 = ['chrom', 'pos', 'filter']
data2 = [ 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

chrom      4903.0
pos       12579.0
filter      128.3
dtype: float64

In [0]:
import numpy as np
import pandas as pd

header = ['exam1', 'exam2', 'exam3']
data = np.random.randint(65, 101, 12).reshape(4,3)
students = ['student1', 'student2', 'student3', 'student4']

df = pd.DataFrame(data=data, columns=header, index=students)

In [36]:
df

          exam1  exam2  exam3
student1     90     68    100
student2     92     99     81
student3     84     68     72
student4     75     67     72

In [31]:
df.loc['student2']

exam1    92
exam2    99
exam3    81
Name: student2, dtype: int64

In [33]:
df.iloc[2]

exam1    84
exam2    68
exam3    72
Name: student3, dtype: int64

In [37]:
df.loc[['student1', 'student3'], ['exam1', 'exam3']]

          exam1  exam3
student1     90    100
student3     84     72

In [38]:
df['exam1']>=85

student1     True
student2     True
student3    False
student4    False
Name: exam1, dtype: bool

In [55]:
df[df['exam1']>=85][['exam2','exam3']]

          exam2  exam3
student1     68    100
student2     99     81

In [0]:
reg_no=[5,2,3,4]
df['reg_no']=reg_no

In [69]:
df

        exam1  exam2  exam3  reg_no
reg_no
1          90     68    100       5
2          92     99     81       2
3          84     68     72       3
4          75     67     72       4

In [0]:
df.set_index('reg_no', inplace=True)

In [71]:
df

        exam1  exam2  exam3
reg_no
5          90     68    100
2          92     99     81
3          84     68     72
4          75     67     72

In [0]:
df.reset_index(inplace=True)

In [74]:
df

   index  reg_no  exam1  exam2  exam3
0      0       5     90     68    100
1      1       2     92     99     81
2      2       3     84     68     72
3      3       4     75     67     72

In [0]:
# quick understanding of maps

def addition(n): 
    return n + n 

numbers = (1, 2, 3, 4) 
result = map(addition, numbers) 
# print(list(result))

In [88]:
list(result)

[2, 4, 6, 8]

In [94]:
numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers) 
for i in list(result):
  print(i)

2
4
6
8